[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
dj-rest-auth = {extras = ["with_social"], version = "*"}
django = "*"
django-cors-headers = "*"
django-rest-multiple-models = "*"
django-seed = "*"
djangorestframework = "*"
pillow = "*"
psycopg2-binary = "*"
django-filter = "*"

[requires]
python_version = "3.8"
