[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-rest-auth = {extras = ["with_social"], version = "*"}
django = "*"
django-cors-headers = "*"
django-seed = "*"
djangorestframework = "*"
pillow = "*"
django-filter = "*"
django-extensions = "*"
channels = "*"
channels-redis = "*"
gunicorn = "*"
whitenoise = "*"

[dev-packages]
flake8 = "*"
pyyaml = "*"
uritemplate = "*"
django-extensions = "*"
autopep8 = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
