[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
django-seed = "*"
autopep8 = "*"

[packages]
django = "*"
dj-rest-auth = {extras = ["with_social"], version = "*"}
pillow = "*"
django-cors-headers = "*"
djangorestframework = "*"

[requires]
python_version = "3.8"
